<header>
  <div class="header-wrapper">
    <img src="../../assets/icons/logo.png" alt="youtube_icon" routerLink="/"/>
    <app-search></app-search>
    <button *ngIf="activeState">
      <img src="../../assets/icons/Vector.svg" alt="filter_icon" (click)="changeFilterState()"/>
    </button>
    <a class="user-credentials" routerLink="/login" (click)="changeExitState()">
      <p>{{appService.user}}</p>
      <img src="../../../../assets/icons/user-cred.png" alt="user_icon">
      <button class="sign-out" *ngIf="exitState" (click)="clearCreds()">Sign out</button>
    </a>
  </div>
  <app-filter *ngIf="filterState"></app-filter>
</header>
