main{
    width: 100vw;
    height: calc(100vh - 80px);
    position: relative;
    .not-found{
        margin: 0 auto;
        display: flex;
        width: max-content;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        align-items: center;
        color: #828282;
        img{
            margin-right: 27px;
            width: 100px;
            height: 90px;
        }
    }
}