<main>
  <div class="preview-wrapper">
    <iframe [src]="url | safe" alt="video"></iframe>
    <div class="additional-info" appBorder
    [date]="data?.snippet?.publishedAt!">
      <div class="preview-title">
        <h2>{{ data?.snippet?.title }}</h2>
        <p>{{ date | date:'fullDate'}}</p>
      </div>
      <h3>Description</h3>
      <p>{{ data?.snippet?.description }}</p>
      <div class="counters">
        <div class="preview-views">
          <img src="../../../assets/icons/viewed.png" alt="" />
          <span>{{ data?.statistics?.viewCount }}</span>
        </div>
        <div class="preview-likes">
          <img src="../../../assets/icons/liked.png" alt="" />
          <span>{{ data?.statistics?.likeCount }}</span>
        </div>
        <div class="preview-dislikes">
          <img src="../../../assets/icons/dislike.png" alt="" />
          <span>{{ data?.statistics?.dislikeCount }}</span>
        </div>
        <div class="preview-comments">
          <img src="../../../assets/icons/comment.png" alt="" />
          <span>{{ data?.statistics?.commentCount }}</span>
        </div>
      </div>
    </div>
    <button><</button>
  </div>
</main>
